.expense--item {
  display: flex;
  height: 3rem; 
  width: 90%;
  background: grey;
  margin: 1% auto;
  padding: 20px;
  justify-content: space-around;
  border-style: solid;
  border-radius: 10px;
  color: white;
}

.expense--title {
  width: 60%;
  /* background: red; */
  font-size: xx-large;
  text-align: left;
}

.expense--amount {
  height: 80%;
  width: 15%;
  background: orange;
  margin-top: 1%;
  font-size: 30px;
  border-style: solid;
  border-radius: 10px;
}
