.chart--container {
  height: 30vh;
  width: 60%;
  background: rgb(153, 57, 170);
  margin: 0 auto;
  border-radius: 10px;
}

.chart--body {
  display: flex;
  height: 80%;
  width: 95%;
  background: black;
  margin: 0 auto;
  transform: translateY(13%);
  border-radius: 10px;
  justify-content: space-around;
  color: white;
}

