form{
    height: 15vh;
    width: 60%;
    background: rgb(156, 64, 156);
    margin: 3% auto;
    border-radius: 10px;
}

.new--expense--controls{
    display: flex;
    height: 40%;
    padding-top: 2%;
    font-size: larger;
    justify-content: space-around;
}

.new--expense--submit{
    margin-left: 10%;
    font-size: x-large;
    background: rgb(145, 3, 170);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(64, 10, 64);
}